/*
* footer 
*/

footer{
 min-height: 250px;
 background-color: var(--secondary-ui-color);

}

.footer__copyright{}


.footer__wrapper{
 width: 100vw;

}


.footer__nav{
display: flex;
flex-direction: column;
align-items: center;
background-color: var(--tertiary-ui-color);

}
.footer__nav{

 & nav{
  display: flex;
  justify-content: baseline;
  align-items: center;
  width: 100%;
 }

  & ul{
  list-style-type: none;

 }
 & a{
  color:white;
  font-size: var(--fsz-h4);
 }
}

.footer__informations{
}