/*
* footer 
*/

footer{
 min-height: 250px;
}

.footer__copyright{}


.footer__wrapper{
 width: 100vw;

}
.footer__nav{
display: flex;
flex-direction: column;
 background-color: var(--tertiary-ui-color);
}
.footer__informations{
 background-color: var(--secondary-ui-color);
}