/* 
* Frame 
*/

.frame {
	width: 100%;
	height: 100%;
	display: grid;
	place-items: center;
}
.frame__image {
	background: url(../../imgs/qui.jpg);
	background-size: cover;
}
.frame__title {
}
.frame__content {
 box-sizing: border-box;
	background-color: #ffffff;
	height: 92%;
	width: 92%;
	padding: 4rem;
 & p{
 	font-size: 1.1rem;
 	line-height: 1.35rem;
 	letter-spacing: 0.25px;
  font-weight: 400;
  margin-bottom: 2rem;
 }
}
.frame__cta {
	margin: 0 auto;
 margin-bottom: 1rem;
	width: 200px;
	display: block;
}
