/* 
* Hero styles
*/
.hero {
  padding-top: var(--space);
  min-height: 100vh;
}
.hero__navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.hero__title {
  color: white;
  font-size: var(--fsz-hero-title);
}
.hero__image {
  background-position: center;
  background-image: linear-gradient(
      to bottom,
    var(--overlayer),var(--overlayer)
    ),
    url(../../imgs/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.hero__content {
  max-width: 75ch;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  & a {
    color: white;
  }
  & p{
    font-size: var(--fsz-hero-content);
    padding-bottom: 2rem;
  }
  & a{
    font-weight: 900;
  }
}
.hero__scroll-down {
}
