/**  Scroll down component */

.scroll-down {
  height: 160px;
  width: 80px;
 border: 4px solid var(--secondary-ui-color);
 border-radius: 50px;
 position: relative;
 /* animation: down 1.5s infinite; */
 box-sizing: border-box; /* Veille à ce que la largeur et la hauteur incluent le border et le padding. */

 &::after{
  border-radius: 50px;
  width: 4px;
  height: 2rem;
  border: 4px solid rebeccapurple;
  content:"";
  position: absolute;
  top: 16px;
  left: 45%;
 animation: down 1.5s infinite;

 }
}
/* Animation scroll down */
@keyframes down {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(-10px);
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
