/**  Scroll down component */

.scroll-down {
  height: 80px;
  width: 40px;
  border: 2px solid var(--primary-ui-color-50);
  border-radius: 50px;
  position: relative;
  /* animation: down 1.5s infinite; */
  box-sizing: border-box; /* Veille à ce que la largeur et la hauteur incluent le border et le padding. */
  margin-bottom: var(--space);

  &::after {
    border-radius: 50px;
    height: 1.25rem;
    border: 2px solid var(--primary-ui-color-50);
    width: 2px;
    content: "";
    position: absolute;
    top: 16px;
    left: 45%;
    animation: down 1.5s infinite;
  }
}
.scroll-down span {
  text-align: center;
  position: absolute;
  bottom: -3rem;
  left: 50%;
  transform: translate(-50%, 0);
  color: var(--secondary-ui-color);
  font-size: 0.8rem;
}
@keyframes down {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(-10px);
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
