/**
* Toolbar composant
* 
*/

.hero__toolbar{
 display: flex;
 justify-content: space-between;
 width: 100%;
}

/** coordonnées */
.informations{
 display: inline-flex;
 gap: 2rem;
  & > *{
    text-decoration: none;
    color: white;
   }
  & > [aria-label="email"],
  & > [aria-label="phone"]{
   position: relative;
   &::before{
    content: "";
    position: absolute;
    top: 5px;
    left: -20px;
    height:20px;
    width:20px;
   } 

  } 
}
[aria-label="email"]::before{ 
 background-image: url(../../imgs/icon-mail.svg);
 background-repeat: no-repeat;
}
[aria-label="phone"]::before{ 
 background-image: url(../../imgs/icon-phone.svg);
 background-repeat: no-repeat;
}



/** Select your lang*/
.lang{
 position: relative;
 & a{
  text-decoration: none;
  color: white;
 }
 &::before{
  content: "";
  position: absolute;
  left: -40px;
  top: 0;
  background-image: url(../../imgs/icon-lang.svg);
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;

 }

}
.informations{
  & a:first-child,& a:last-child{
    padding-left: 1rem;
    position: relative;
  }
 
  & a:first-child::before,
  & a:last-child::before{
    /** Le contenu est une chaîne vide, créant ainsi un espace réservé pour le style. */
    content:" ";
    background-repeat: no-repeat;
    background-position: center center;
    width: 20px;
    height: 20px;
    display:block;
    position: absolute; 
    top: .2rem;
    left: -.5rem;
  }
  & a:first-child::before{
    background-image: url(../../imgs/icon-mail.svg);

  }
  & a:last-child::before{
    background-image: url(../../imgs/icon-phone.svg);
  }
}