/* 
* Settings
* Varialbes
*/

:root{

/**color  */
 --primary-color:#1561AD;
 --secondary-color: #1C77AC;
 --accent-color: #FC5226;
/** UI */
 --primary-ui-color: #f6f0E1;
 --secondary-ui-color: #3E4551;
 --tertiary-ui-color: #2C3037;


}